.card-StyledInnerStack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
@media (max-width: 768px) {
  .StyledOuterStack {
    height: 96px;
    padding-left: 8px;
  }

  .card-StyledInnerStack {
    gap: 2px;
  }

  .card-StyledInnerStack .MuiTypography-root {
    font-size: 12px;
  }
}